* {
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: transparent;
    height: 100%;
    overflow-x: hidden;
}
.frontpage-img {
    background-image: url('images/rain.jpeg');
    background-size: cover;
    opacity: .8;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.frontpage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.frontpage-content form {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #454545;
    width: 100%;
}
.frontpage-content form label {
    padding: 5px 10px;
    color: white;
}
.frontpage-content form input {
    padding: 5px 10px;
    color: black;
}
.frontpage-content #weatherSubmit {
    background: white;
    border: none;
    margin-left: 10px;
    border-radius: 10%;
}
.frontpage-title {
    position: relative;
    text-align: center;
    font-size: 3vw;
    background: rgb(13,164,196, .9);
    color: #e8f2f4;
    text-shadow: 1px 2px 2px #454545;
    padding: 10px 20px;
}
@media only screen and (max-width: 800px) {
    .frontpage-title {
	font-size: 20px;
    }
}
#weatherResults {
    color: white;
    text-shadow: 1px 1px 2px black;
}
#forecastResults {
    color: white;
    min-height: 90vh;
    text-shadow: 1px 1px 2px black;
}
.transparentBackground {
    background: rgb(92, 171, 187, .4);
    padding: 5px ;
    width: 100%;
    text-align: center;
}

footer {
    padding: 0;
    margin: 0;
    display: flex;
    background: #021f25;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;
    top: 100%;
}
footer div a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}






